<footer class="footer fixed-bottom  mt-auto py-3 bg-light">
    <div class="container">
        <p class="text-muted text-center">Copyright &copy; 2021 &middot; <a class="text-decoration-none" href="https://aminelch.xyz" target="blanck">Amine Louhichi</a></p>
    </div>
</footer>